{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
</style>
<div class="container" >
    <br />
    <div class="content-section offset-3 col-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom text-center">Save Contact</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}