{% extends 'base.html' %}
{% load static%}
{% block content %}
{% csrf_token %} 
<div class="row">
    <div class="col-6">
        <img class="center" src="{% static 'img/background.jpg' %}" alt="Contacts" height="600px" width=100% />
    </div>
    <div class="col-6">
        <h1 class="text-center">Welcome to the home page!</h1>
        <h1 class="text-center">CONTACTS</h1>
        <div class="row">
           
            {% if request.user.is_authenticated %}
            <a href="{% url 'listContacts' %}" class="col-3 btn btn-primary">List of Contacts</a>
            &nbsp;
            <a href="{% url 'add' %}" class="col-3 btn btn-success">Add Contacts</a> 
            &nbsp;
            <form class="col-3" method="POST">
                <button class="btn btn-warning" type="submit" name="user" value="{{request.user}}">Download Contacts</button>
            </form>
            {% else %}
            <a class="offset-2 col-3 btn btn-primary">Register</a>
            &nbsp; 
            <a  href="{% url 'add' %}" class="col-3 btn btn-warning">Login</a>
            {% endif %}
        </div>
       
    </div>
</div>
{% endblock %}