{% extends 'base.html' %}
{% load static%}
{% block content %}
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<h2 class="text-center" >LIST OF CONTACTS</h2>
<div class="offset-1 col-10" style="overflow-x:auto;">
    <table class="table table-striped table-bordered border-dark">
        <thead style="color: white;background-color: blue;">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for instance in details %}
            {% ifequal request.user instance.user_name %}
            <tr>
                <td>{{instance.name}}</td>
                <td>{{instance.contact_number}}</td>
                <td>{{instance.description}}</td>
                <td><a href="{% url 'update_contacts' instance.id %}" class="btn btn-primary"><i class="icon-fixed-width icon-pencil"></i></a>
                    <a
                    href="{% url 'delete_contact' instance.id %}" class="btn btn-danger"><i class="icon-trash icon-large"></i></a> </td>
            </tr>
            {% endifequal %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}